{
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "eslintIntegration": true,
  "parser": "typescript",
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "auto"
}
  